<ul class="nav flex-column">
  <li class="nav-item">
    <a (click)="toggle()" class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
  </li>
  <li class="nav-item">
    <a (click)="toggle()" class="nav-link" routerLink="/clients" routerLinkActive="active">Clients</a>
  </li>
  <li class="nav-item">
    {{ version }}
  </li>
  <li class="nav-item">
    <select (change)="changeLang($event)">
      <option *ngFor="let lang of langs" [value]="lang" [selected]="lang === newLang">{{ lang }}</option>
    </select>
  </li>
</ul>
<button (click)="increment()">increment</button>

